@*
 * Author: Jamie Parker - ST10257863
 * Date: 10 September 2024
 * Project: Contract Monthly Claim System (CMCS)
 *
 * Reference(s):
 * - Microsoft. (2023). Introduction to ASP.NET Core.
 *   Retrieved from https://learn.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-8.0
 *   [Accessed: 10 September 2024].
 *@
@{
	ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/styles.css" />

<div class="container">
	<div class="background center-content">
		<!-- Center content within the background -->
		<form method="post" action="/Home/Login" class="flex-column center-content">
			<div class="flex-column gap-32 center-content">
				<div class="input-field">
					<label for="username" class="text-regular">Username</label>
					<input type="text" id="username" name="username" class="input-box" placeholder="Enter your username" aria-label="Username" />
				</div>

				<div class="input-field">
					<label for="password" class="text-regular">Password</label>
					<input type="password" id="password" name="password" class="input-box" placeholder="Enter your password" aria-label="Password" />
				</div>

				<button type="submit" class="submit-button">Login</button>
			</div>
		</form>
	</div>
</div>
