<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<link rel="stylesheet" href="./index.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
	<title>Verification</title>
</head>
<body>
	<div class="background">
		<div class="frame">
			<div class="content-container">
				<!-- Pending Section -->
				<div class="section-container pending">
					<h1 class="section-title">Pending</h1>
					<div class="scrollable-table-container">
						<table>
							<thead>
								<tr>
									<th>ID</th>
									<th>Full Name</th>
									<th>Date & Time</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>John Doe</td>
									<td>14:30 09/09/2024</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Jane Smith</td>
									<td>15:45 10/09/2024</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<!-- Details Section -->
				<div class="section-container details-section">
					<div class="details-frame">
						<!-- Lecturer Details -->
						<div class="details">
							<p class="detail-title">Lecture ID:</p>
							<p class="detail-title">User Name:</p>
							<p class="detail-title">Full Name:</p>
							<p class="detail-title">Hourly Rate:</p>
							<p class="detail-title">Department:</p>
							<p class="detail-title">Campus:</p>
						</div>
						<div class="text-details">
							<p class="text-detail">12345</p>
							<p class="text-detail">jdoe</p>
							<p class="text-detail">John Doe</p>
							<p class="text-detail">$50/hr</p>
							<p class="text-detail">Computer Science</p>
							<p class="text-detail">Main Campus</p>
						</div>
					</div>

				</div>
				<div class="section-container details-section">

					<div class="section-container hours-worked-frame">
						<ul>
							<li><strong>Regular Hours:</strong> NUMBER</li>
							<li><strong>Overtime Hours:</strong> NUMBER</li>
							<li><strong>Total Hours:</strong> NUMBER</li>
						</ul>
					</div>

					<!-- Pay Details -->
					<div class="section-container pay-details-frame">
						<ul>
							<li><strong>Regular Pay:</strong> NUMBER</li>
							<li><strong>Overtime Pay:</strong> NUMBER</li>
							<li><strong>Total Pay:</strong> NUMBER</li>
						</ul>
					</div>
					<!-- Hours Worked -->
					<!-- Action Buttons -->
					<div class="section-container button-parent">
						<button type="button" class="submit-button accept-button">ACCEPT</button>
						<button type="button" class="submit-button reject-button">REJECT</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
